.card{
    display: flex;
    max-width: 500px;
}
.image{
    width: 800px;
    height: 250px;
}
.speaker-details{
    border-left: 4px solid red;
    padding: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
